# Ignore Python scripts from repository statistics
*.py linguist-vendored

# Ignore HTML and CSS frontend files
*.html linguist-documentation
*.css linguist-documentation

# Ignore JavaScript frontend logic 
*.js linguist-vendored

# Ignore data/configuration/markdown files
*.json linguist-documentation
*.txt linguist-documentation
*.md linguist-documentation
